extends layout.pug

block title
  title Blog // #{name}
  meta(name="Description" content="Blog page with a list of articles.")

block main
  h1.title Blog

  ul.blog-list
    each article in articles
      li.blog-item
        .blog-item-wrapper
          if article.image
            img.blog-item-image(alt=article.title src=article.image)
          span.blog-item-date
            = article.date.toLocaleDateString("en", { timeZone: "UTC", year: "numeric", month: "short", day: "numeric" })
          .blog-item-title
            a(href=article.url)= article.title
          if article.subtitle
            .blog-item-subtitle=article.subtitle
          if article.tags
            .blog-item-tags
              each tag in article.tags
                span.blog-item-tag= tag
