.about-title About Me
.about-content
  // p #{about}
  ul.about-list
    each item in about
      li.about-item= item

.about-title Technical Skills
.about-content
  .about-list-wrapper
    ul.about-list
      each skill in skills
        li.about-item= skill

mixin timeblock(item)
  .about-time-block
    if item.when
      .about-time-block-date= item.when
    else if item.start
      .about-time-block-date= item.start + " — " + item.end
    .about-time-block-info
      mixin desc(what, where, extra)
        span.about-time-block-what= what
        if where
          = " — "
          span.about-time-block-where
            = where
        if extra
          - if (typeof(item.extra) == "string") {
            = " — "
            span.about-time-block-extra
              = extra
          - } else {
            .about-time-block-extra
              ul.about-list
                each info in item.extra
                  li.about-item= info
          - }
      if item.url
        a(href=item.url)
          +desc(item.what, item.where, item.extra)
      else
        +desc(item.what, item.where, item.extra)

.about-title Education
.about-content
  each item in education
    +timeblock(item)

.about-title Experience
.about-content
  each item in work
    +timeblock(item)

.about-title Honors & Awards
.about-content
  each item in awards
    +timeblock(item)

.about-title Languages
.about-content
  .about-list-wrapper
      ul.about-list
        each item in languages
          li.about-item= item.what + " (" + item.level + ")"

.about-title Personal Projects
.about-content
  each item in projects
    +timeblock(item)
