extends layout.pug

block title
  title #{name}
  meta(name="Description" content="Main page about me and this website.")

block main
  .front-page-wrapper
    img.my-image(src="/me-colored.png" alt="A picture of myself")
    h1.my-name #{name}
    h2.my-occupation #{occupation}

    p Hi! Welcome to my personal website.
    p
      | I do my best at maintaining a blog about technology here, feel free
      | to check it out!
    p
      | You can also take a look at some of my past projects and get to know
      | me in the "About Me" page or my CV.
      | I am currently on the look for summer internships or other job
      | opportunities.
    br
    p You can also find me here:

    .social-list-wrapper
      ul.social-list
        mixin social(title, url, icon, showtitle)
          li.social-item(title=title)
            a(href= url)
              span&attributes({class: "social-icon " + icon})
              if showtitle
                span.social-info=title

        +social(email, "mailto:" + email, "icon-envelope", true)
        +social(github, "https://github.com/" + github, "icon-social-github", true)
        +social(linkedin, "https://linkedin.com/in/" + linkedin, "icon-social-linkedin", true)
