extends layout.pug

block title
  title Reading/Watching List // #{name}

block main
    h1 Reading/Watching List

    .timeline-wrapper
      h3.timeline-title Timeline
      ul.timeline
        each item in rwlist
          li.timeline-item
            .timeline-date= item.date.toLocaleDateString("en", { year: "numeric", month: "short", day: "numeric" })
            if item.type == "book"
              .timeline-icon.icon-book-open
            if item.type == "talk"
              .timeline-icon.icon-speech
            .timeline-title
              if item.url
                a(href=item.url)= item.title
              else
                = item.title
            if item.rating
              .timeline-rating
                - for (var i = 0; i < item.rating; i++)
                  span.icon-star
                span= " (" + item.rating + ")"
            if item.quotes
              .timeline-quotes
                span.icon-list
                |
                | Quotes
              .mask(role="dialog")
              .modal(role="alert")
                button.close(role="button") X
                ul.quotes-list
                  each quote in item.quotes
                    li.quotes-item
                      strong
                        if quote.chapter && quote.page
                          = "Chapter " + quote.chapter + " — " + "Page " + quote.page
                          br
                        else if quote.chapter
                          = "Chapter " + quote.chapter
                          br
                        else if quote.page
                          = "Page " + quote.page
                          br
                      = quote.text

            if item.notes
              .timeline-notes
                a(href="/" + item.type + "s/" + item.notes + ".html")
                  span.icon-note
                  |
                  | Notes
    .tolist-wrapper
      h3.tolist-title To Read
      ul.tolist
        each item in books["to-read"]
          li.tolist-item
            span.tolist-icon.icon-book-open
            span.tolist-title= item.title
            |  - 
            span.tolist-author= item.author
      h3.tolist-title To Watch
      ul.tolist
        each item in talks["to-watch"]
          li.tolist-item
            span.tolist-icon.icon-speech
            span.tolist-title= item.title
            |  - 
            span.tolist-author= item.author
